<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DatabasePath" value="equipmenttracker.db" />
    <add key="BackupPath" value="Backups" />
    <add key="EnableAutoBackup" value="true" />
    <add key="BackupIntervalHours" value="24" />
    <add key="DefaultLanguage" value="en" />
    <add key="EnableEmailNotifications" value="false" />
    <add key="SmtpServer" value="" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="" />
    <add key="SmtpPassword" value="" />
    <add key="SmtpUseSsl" value="true" />
    <add key="Enable2FA" value="false" />
    <add key="SessionTimeoutMinutes" value="30" />
    <add key="ExportPath" value="Exports" />
  </appSettings>
  <connectionStrings>
    <add name="EquipmentTrackerDB" connectionString="Data Source=equipmenttracker.db;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>
